@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .logo_font {
        @apply font-inter font-normal font-bold text-2xl;
    }

    .nav_font {
        @apply font-inter font-normal font-semibold text-base;
    }

    .h1_font {
        @apply font-inter font-bold leading-12 text-3xl tracking-tighter;
    }
    
}

.main {
    background-image: url("./assets/halfLogo.png");
    background-repeat: no-repeat;
    background-size: 125px;
    background-position: right 53%;
}

li {
    list-style-image: url("./assets/blueDot.png");
    padding-left: 10px;
}



