@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .logo_font {
        @apply font-inter font-normal font-bold text-2xl;
    }

    .nav_font {
        @apply font-inter font-normal font-semibold text-base;
    }

    .h1_font {
        @apply font-inter font-bold leading-12 text-3xl tracking-tighter;
    }

    nav {
        @apply flex justify-between items-center py-8 px-6
    }

    .toggler-slider {
        @apply flex justify-start items-center border border-black w-7 h-3.5 bg-darkGray rounded-[8px] cursor-pointer box-content;
    }

    .toggler-slider-circle {
        @apply w-4 h-4 bg-white rounded-full
    }

    nav.dark .toggler-slider-circle {
        @apply bg-darkGray
    }

    nav.dark .toggler-slider {
        @apply flex justify-end bg-white
    }

    nav.dark {
        @apply bg-darkGray;
    }

    nav.dark .toggler-slider {
        @apply border-white bg-white;
    }

    .toggler-light, .toggler-dark {
        @apply text-darkGray text-base mr-2
    }

    nav.dark .toggler-light,
    nav.dark .toggler-dark {
        @apply text-white
    }
    
}


.main {
    background-image: url("./assets/halfLogo.png");
    background-repeat: no-repeat;
    background-size: 125px;
    background-position: right 53%;
}

li {
    list-style-image: url("./assets/blueDot.png");
    padding-left: 10px;
}



